ollama
edge-tts
pyttsx3
SpeechRecognition
customtkinter
pyautogui
pycaw
screen-brightness-control
requests
beautifulsoup4
duckduckgo-search
pyaudio
pygame
psutil
pygetwindow
pyperclip
pynput
wikipedia
PyPDF2
Pillow
schedule
opencv-python
numpy
deep-translator
comtypes
win10toast
darkdetect
keyboard
vosk
pyaudio
winshell
pytesseract
mediapipe
flask
pystray
faiss-cpu
sentence-transformers
yt-dlp
