ollama
edge-tts
pyttsx3
SpeechRecognition
customtkinter
pyautogui
pycaw
comtypes
screen-brightness-control
PyGetWindow
Pillow
requests
beautifulsoup4
wikipedia
PyPDF2
psutil
winrt-Windows.UI.Notifications
winrt-Windows.Data.Xml.Dom
winrt-Windows.Foundation
win10toast
deep-translator
duckduckgo-search
pyaudio
pygame
pynput
opencv-python
wolframalpha
python-docx
pandas
pytesseract
pycryptodome
keyboard
numpy
