ollama
edge-tts
pyttsx3
SpeechRecognition
customtkinter
pyautogui
pycaw ; sys_platform == 'win32'
comtypes ; sys_platform == 'win32'
screen-brightness-control
PyGetWindow ; sys_platform == 'win32'
Pillow
requests
httpx
beautifulsoup4
wikipedia
PyPDF2
psutil
pywin32 ; sys_platform == 'win32'
winshell ; sys_platform == 'win32'
winrt-Windows.UI.Notifications ; sys_platform == 'win32'
winrt-Windows.Data.Xml.Dom ; sys_platform == 'win32'
winrt-Windows.Foundation ; sys_platform == 'win32'
win10toast ; sys_platform == 'win32'
deep-translator
duckduckgo-search
pyaudio
pygame
pynput
opencv-python
pycryptodome
wolframalpha
python-docx
pandas
pytesseract
keyboard
numpy
jsonschema
